{% extends "base.twig" %}

{% set active = 'index' %}

{% block javascript %}
    <script src="{{baseURL}}/static/js/widgets.js?ver=20200805"></script>
{% endblock %}

{% block body %}
    <div class="grid">
        {% for widget in list %}
            <div class="card" data-widget="{{ widget["id"] }}">
                <div class="card-content">
                    <div class="card-header">
                        <h3><a href="{{ widget["url"] }}">{{ widget["title"] | raw }}</a></h3>
                    </div>
                    {% include 'home/widgets/' ~ widget["name"] ~'.twig' with {'widget': widget} %}   
                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}