/vendor/
/logs/*
/nbproject/
/node_modules/
/bower_components/
composer.phar
/config/settings.php

/public/uploads/profile/*
!/public/uploads/profile/.gitkeep 

/public/uploads/events/*
!/public/uploads/events/.gitkeep 

/public/uploads/exercises/*
!/public/uploads/exercises/.gitkeep 

koala-config.json

public/test*

/files/*
!/files/.gitkeep 

tests/.phpunit.result.cache
composer.bat