{% extends "base.twig" %}

{% set active = 'index' %}

{% block body %}
    <div class="grid content-small">
        {% for module_name, module in modules %} 
            {% if user.hasModule(module_name)%}
                <div class="card">
                    <div class="card-content">
                        <h3><a href="{{url_for(module['rootRoute'])}}">{{lang[module['title']]}}</a></h3>
                        <a href="{{url_for(module['rootRoute'])}}"><i class="{{ module['icon'] }}" aria-hidden="true"></i></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}