{% extends "base.twig" %}

{% set active = 'index' %}

{% block javascript %}
    <script src="{{baseURL}}/static/js/logfile.js?ver={{CACHEMISS}}"></script>
{% endblock %}

{% block body %}
    <div id="logviewer-filter">
        <span class="log-filter">
            <input type="checkbox" id="show-debug" data-type="DEBUG" checked/>
            <label for="show-debug">DEBUG</label>
        </span>
        <span class="log-filter">
            <input type="checkbox" id="show-info" data-type="INFO" checked/>
            <label for="show-info">INFO</label>
        </span>
        <span class="log-filter">
            <input type="checkbox" id="show-notice" data-type="NOTICE" checked/>
            <label for="show-notice">NOTICE</label>
        </span>
        <span class="log-filter">
            <input type="checkbox" id="show-warning" data-type="WARNING" checked/>
            <label for="show-warning">WARNING</label>
        </span>
        <span class="log-filter">
            <input type="checkbox" id="show-error" data-type="ERROR" checked/>
            <label for="show-error">ERROR</label>
        </span>
        <span class="log-filter">
            <input type="checkbox" id="show-critical" data-type="CRITICAL" checked/>
            <label for="show-critical">CRITICAL</label>
        </span>
        <span class="log-filter">
            <input type="checkbox" id="show-alert" data-type="ALERT" checked/>
            <label for="show-alert">ALERT</label>
        </span>
        <span class="log-filter">
            <input type="checkbox" id="show-emergency" data-type="EMERGENCY" checked/>
            <label for="show-emergency">EMERGENCY</label>
        </span>
    </div>

    <div id="logviewer" data-days="{{ days }}">
        <div id="loadingIconLogfile" class="centered loading-icon">
            <span class="spinning">{{ fontawesome('fas fa-circle-notch') }}</span>
        </div>
        <div id="log-content">
            
        </div>
    </div>

{% endblock %}