<div>
	<div class="large light">
		<span class="wi weathericon {{ data["icon"] }}"></span>
		<span class="bright">{{ data["temp"] }}°C</span>
	</div>
	<div class="description">{{ data["description"]|raw }}</div>
</div>
