.board-content{

}

.board-header{
    background: $color_blue;
    margin:0 auto;
    color: $color_background-body;
    text-align:center;

}
.stack-wrapper{
    position: relative;
    min-height: calc(100vh - #{$header_height} - 20px - 36px - 20px);

    display:flex;
    flex:1;
    overflow-x: auto;
}

.stack, .stack-dummy{
    display: flex;
    flex-direction:column;
    flex: 0 0 250px;

    padding: 0;
    margin-right: 0.2rem;
    //background: $color_background-screen;
    padding-right: 0.2rem;
    overflow-y: auto;



    &:hover{
        cursor:pointer;
    }

    .stack-header{
        background: $color_blue_light;
        //text-align:center;
        @include font-size(2);

        margin: 1rem;
        font-weight: 300;
        padding:0 1rem 0 1rem;
        display:flex;
        justify-content: space-between;

        &, a{
            color: $color_background-body;
        }
        a:hover{
            color: $color_background-screen;
        }
    }


    &.stack-border{
        border-right: 1px solid #aaaaaa;
    }
}

.edit-bar{
    display:flex;
    align-items: center;
    @include font-size(1.2);

    i{
        padding:0 3px;
    }
    &, a{
        color: $color_background-body;
    }
    a:hover{
        color: $color_background-screen;
    }
}

.stack-dummy{
    border-right: 0;
}

.create-stack, .create-card, .add-user-to-card{
    @include font-size(1.4);
    margin: 1rem;
    color: #a1a1a1!important;

    &:hover{
        color: $color_text-main!important;
    }
}

.card-wrapper{
    // So cards can be dropped on empty stacks
    min-height: 10px;
}
.board-card{
    min-height:50px;
    background: #FFFFFF;
    margin:0 1rem 1rem 1rem;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box; 
    background-color: $color_background-body;
    padding: 0.5rem;
    position:relative;
    word-wrap: break-word;
    overflow:hidden;

    &:hover{
        cursor:pointer;
    }


    .card-member{
        //float:right;
        display:flex;
        justify-content: flex-end;
    }

    .card-date{
        @include font-size(1.2);
        border-radius: 5px;
        background: $color_background-screen;
        padding: 0.1rem 0.5rem;
        margin: 0.2rem;
        color: $color_text-main;
        &::before{
            content: "\f073";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            transition: all 250ms;
            @include font-size(1);
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
        
        &.due{
            background: $color_red;
            color: $color_background-body;
        }
        
    }
}

.board-card-dummy{
    margin:0 1rem 1rem 1rem;
}

.avatar-small, .avatar-mini{
    border-radius: 50%;
    border: 3px solid #CCC;
    width: 50px;
    height: 50px;
    margin: 0.5rem;
    cursor:pointer;
    display:block;

    &.selected{
        border: 3px solid $color_blue;
    }

    &.avatar-initials{
        padding: 0.5rem;
    }
}

.avatar-mini{
    width: 25px;
    height: 25px;
    margin: 0.2rem;
    border: 2px solid $color_blue;

    &.avatar-initials{
        padding: 0.1rem;
    }
}

#card-add-form{
    .member-list{
        display:flex;
        align-items: center;
    }

}



