/* Board Header */
.board-header{
    background: $color_blue;
    margin:0 auto;
    color: $color_background-body;
    text-align:center;

}

.board-content{

    /* Stack */

    .stack-wrapper{
        position: relative;
        overflow-x: auto;

        @media screen and (min-width: $size_mobile) {
            min-height: calc(100vh - #{$header_height} - 20px - 36px - 20px);
            display:flex;
        }
    }

    .stack, .stack-dummy{
        display: flex;
        flex-direction:column;
        flex: 0 0 250px;

        padding: 0;
        margin-right: 0.2rem;
        padding-right: 0.2rem;

        &:hover{
            cursor:pointer;
        }

        &.stack-border{
            border-right: 1px solid #aaaaaa;
        }
    }

    .stack-header{
        background: $color_blue_light;
        @include font-size(1.8);

        margin: 1rem;
        font-weight: 300;
        padding:0 1rem 0 1rem;
        display:flex;
        justify-content: space-between;

        @media screen and (max-width: $size_mobile) {
            word-break: break-all;
        }

        &, a{
            color: $color_background-body;
        }
        a:hover{
            color: $color_background-screen;
        }
    }

    .stack-dummy{
        border-right: 0;
    }


    .card-wrapper, .stack-dummy{
        // So cards can be dropped on empty stacks
        min-height: 10px;
        position: relative;
    }

    .board-card, .card-placeholder{
        min-height:50px;
        margin:0 1rem 1rem 1rem;
    }

    /* Card  */
    .board-card{
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        box-sizing: border-box; 
        background-color: $color_background-body;
        padding: 0.5rem;
        position:relative;
        overflow:hidden;

        @include font-size(1.4);

        &:hover{
            cursor:pointer;
        }

        .card-member{
            display:flex;
            justify-content: flex-end;
        }

        .card-date{
            background: $color_background-screen;
            color: $color_text-main;
            &::before{
                content: "\f073";
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                transition: all 250ms;
                @include font-size(1);
                margin-right: 5px;
                position: relative;
                top: -1px;
            }

            &.due{
                background: $color_red;
                color: $color_background-body;
            }

        }

        .card-title{
            /* Old IE Support */
            -ms-word-break: break-all;

            /* Non standard for webkit */
            word-break: break-word;

            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;

        }

        .card-labels{
            display:flex;
            float: right;
            margin-left:1rem;
        }
        .card-label{
            height: 12px;
            width:12px;
            border-radius:4px;
            margin:0.2rem;
        }
    }


    .board-card-dummy{
        margin:0 1rem 1rem 1rem;
    }

    .card-placeholder{
        border: 1px dashed $color_text-main;
    }

}

/* inspired by https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */

#sidebar-toggle{
    @include font-size(2);
    line-height: 1;
    transition: all 250ms;
    position:absolute;
    left:-30px;
    width: 30px;
    height:30px;
    background-color: $color_background-body;
    display:flex;
    justify-content: center;
    align-items:center;
    border-bottom-left-radius: 3px;
    box-shadow: -7px 1px 9px 0px rgba(0,0,0,0.16);

    &:hover{
        cursor: pointer;
    }

    &::before{
        content: "\f053";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
    }
}

.sidebar {
    height: 100%;
    position: fixed;
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: $color_background-body;
    padding-top: 50px;
    transition: 0.2s width;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    // Default Mobile: sidebar hidden
    width: 0px;
    // click on toggle: show on mobile
    &.mobile-visible {
        width: 200px;

        #sidebar-toggle::before{
            content: "\f054";
        }
    }

    .sidebar-inner{
        width: 200px;
        padding: 1rem;

        h2{
            margin-top:0;
        }
        
        label.checkbox, .create-label{
            @include font-size(1.2);
        }
        #checkboxArchivedItems{
            position:relative;
            top:2px;
        }

    }
}
@media screen and (min-width: $size_mobile) {
    // Default Desktop: sidebar visible
    .sidebar{
        width: 200px; 
        // click on toggle: hide on desktop
        &.desktop-hidden {
            width: 0px;
            #sidebar-toggle::before{
                content: "\f053";
            }
        }
    }
    #sidebar-toggle::before{
        content: "\f054";
    }


}

.sidebar-box{
    border-bottom: 1px solid $color_background-screen;
    margin-bottom: 1rem;
    padding-bottom:1rem;
    h4{
        margin-top:0;
        margin-bottom: 0.2rem;
        @include font-size(1.3);
    }

    .avatar-small{
        border: 2px solid $color_blue;
    }
}

/* Avatars */
.avatar-small, .avatar-mini{
    border-radius: 50%;
    border: 3px solid #CCC;
    width: 50px;
    height: 50px;
    margin: 0.5rem;
    display:block;

    &.selected{
        border: 3px solid $color_blue;
    }

    &.avatar-initials{
        padding: 0.5rem;
    }
}

.avatar-mini{
    width: 25px;
    height: 25px;
    margin: 0.2rem;
    border: 2px solid $color_blue;

    &.avatar-initials{
        padding: 0.1rem;
    }
}
.member-list, .card-label-list{
    display:flex;
    align-items: center;
    flex-wrap: wrap;

}


/* General */
.add-element-text{
    @include font-size(1.4);
    margin: 1rem 1rem 0 1rem;
    color: #a1a1a1!important;
    display:block;

    &:hover{
        color: $color_text-main!important;
    }
}
.create-card{
    margin-top:0;
}
.card-date, .card-label{
    @include font-size(1.2);
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    margin: 0.2rem;

    a{
        cursor:pointer;
        color: inherit;

        &:hover{
            color:inherit;
        }
    }
}

.card-label{
    //border: 1px solid #000;
    box-shadow: 0 0 1px rgba(0,0,0,1);
}
.ui-dialog{
    &, .add-element-text, label:not(.radio):not(.checkbox){
        @include font-size(1.3);
    }

    .form-group{
        margin-bottom: 0.5rem;
    }

    .ui-dialog-buttonpane button{
        padding: 0.5rem 1rem;
    }

    .avatar-small{
        cursor:pointer;
    }

    .color-wrapper{
        background-color:black;
        height:32px;
        width:32px;
        //border: 1px solid #000;
        border-radius: 5px;
        box-shadow: 0 0 1px rgba(0,0,0,1);

        &:hover{
            cursor:pointer;
        }
    }

    input[type="color"]{
        visibility:hidden;
    }
    
    .two-columns{
        align-items:center;
    }
}

.edit-bar{
    display:flex;
    align-items: center;
    @include font-size(1.2);

    i{
        padding:0 3px;
    }
    &, a{
        color: $color_background-body;
    }
    a:hover{
        color: $color_background-screen;
    }
}

.chosen-container .chosen-results li{
    cursor:pointer;
    &.highlighted{
        background-image:none;
    }
    &.result-selected{

    }


}
.chosen-container-multi .chosen-choices li.search-choice{
    background:none;
    border-radius:5px;
    border:none;
    box-shadow: 0 0 1px #000;
}

.stack.archived{
    .stack-header{
        background-color: #AAA;
    }
}

.board-card.archived{
    background: none;
}