.budget-entry{
    @media screen and (min-width: $size_mobile){

        @include grid-container;

        .form-group{

            &.category{   
                @include grid-column(2);
            }
            &.description{
                @include grid-column(3);
            }
            &.value{
                @include grid-column(2);
            }
            &.cat-costs{
                @include grid-column(2);
                h4{
                    margin-top:2px;
                }
                .category_costs{
                    margin-top: 1.5rem;
                }
            }
            
            &.is_hidden{
                @include grid-column(2);
                margin-top: 3rem;
            }
        }

        .btn-delete{
            @include grid-column(1);
            text-align:right;
        }

    }

    &.edit{
        border-bottom: 1px solid $color_text-main;
    }
    margin-bottom: 1rem;

    @media screen and (max-width: $size_mobile) {
        .btn-delete{
            margin-bottom: 1rem;
            display:block;
            text-align:center;
        }
    }

    h3{
        margin-bottom:0;
    }

    .values{
        display:flex;
        justify-content: space-between;
        @include font-size(1.2);
        font-weight: 600;

        .red{
            color: $color_red;
        }
        .green{
            color: $color_green;
        }
        .orange{
            color: $color_orange;
        }
        &.yellow{
            color: $color_yellow;
        }
    }

    .progress-bar{
        display:flex;
        border: 1px solid $color_border-input ;
        overflow:hidden;
        position:relative;


        .progress{
            height:24px;
            display:flex;
            justify-content: center;
            align-items:center;
            color: $color_text-main;
            font-weight: 600;

            @include font-size(1.2);
            max-width: 100%;

            &.red{
                background-color: $color_red;
                color: $color_background-body;
            }
            &.green{
                background-color: $color_green;
                color: $color_background-body;
            }
            &.orange{
                background-color: $color_orange;
                color: $color_background-body;
            }
            &.yellow{
                background-color: $color_yellow;
                color: $color_text-main;
            }
        }
        
        .progress-text{
            text-align:center;
            width: 100%;
            position:absolute;
            left:0;
            right:0;
            z-index:1;
        }
        
        .state{
            position: absolute;
            border-right: 2px dashed $color_text-main;
            z-index:1;
            height:24px;
        }
    }
    
    .categories-list{
        @include font-size(1.1);
    }
}
