#crawler_links{

    margin:0;
    list-style-type: none;
    padding-left:0;

    // first level
    & > li {
        overflow: hidden;
        margin-bottom: 1rem;

        & > a{
            display:block;
            background-color: $color_blue_light;
            padding: 0.5rem 1rem;
            color: $color_background-body;

            display: flex;
            justify-content: space-between;
            align-items: center;

            svg{
                float: right;
                transition: all 250ms;
                @include font-size(1.6);
                color: $color_background-body;
                position: relative;
            }

            span.plus {
                display:inline-block;
            }
            span.minus{
                display:none;
            }
        }

        // submenu 
        ul{
            display:none;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
        }
        &.active {
            ul{
                display:block;
            }

            & > a{
                span.plus {
                    display:none;
                }
                span.minus{
                    display:inline-block;
                }
            }
        }

    }

}

.save_crawler_dataset {

    svg{
        cursor:pointer;
    }

    .star-blank {
        display: inline-block;
    }
    .star-filled{
        display:none;
    }

    &.is_saved{
        .star-blank {
            display: none;
        }
        .star-filled{
            display:inline-block;
        }
    }
}