@use "mixins";
@use "variables";

/*!
 * DataTables
 */

.dt-wrapper {

    &,
    select,
    label,
    input {
        @include mixins.font-size(1.2);

        @media screen and (min-width: variables.$size_mobile) {
            @include mixins.font-size(1.4);
        }
    }

    .dt-top,
    .dt-bottom {
        flex-direction: column;

        padding-left: 0px;
        padding-right: 0px;

        &>* {
            margin-bottom: 1rem;
        }

        @media screen and (min-width: variables.$size_mobile) {
            flex-direction: row;

            &>* {
                margin-bottom: 0;
            }
        }

    }

    .dt-table tbody tr:nth-child(odd) {
        background-color: variables.$color_light_gray;
    }

    .dt-info {
        font-size: 1.2rem;
    }
}