#search{

    box-shadow: 0 10px 5px -5px rgba(0,0,0,0.16);

    background-color: $color_background-body;

    margin-left:-5px;
    margin-right:-5px;
    margin-top: 0;
    padding:0.5rem;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $size_mobile_navigation){
        margin-top:-2.5rem;
    }


    #search-form{
        transition: height .3s linear;
        overflow:hidden;
        padding:0;

        &.collapsed{
            height: 0!important;
        }

        .search-form-inner{
            padding:1rem 1rem 0rem 1rem ;
        }

        input[type="submit"]{
            margin-top:1rem;
            width:100%;
        }

    }

    @media screen and (min-width: $size_mobile){
        max-width: $size_content-width-xsmall;
        margin: 0 auto;
    }
}


#search-filter{

    padding: 5px 10px;

    @media screen and (min-width: $size_mobile) {
        .date-filter{
            display:flex;
            align-items: center;
        }

        button, input, select, .flatpickr-input{
            height: 41px;
        }

        .flatpickr-input{
            min-width: 200px;
        }

    }
}

#search, #search-filter{
    button, input, select{
        width: 100%;

        @include font-size(1.2);
        @media screen and (min-width: $size_mobile) {
            @include font-size(1.4);
        }
    }
}
