#location-filter {
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.16);

    background-color: $color_background-body;

    margin-left: -5px;
    margin-right: -5px;
    margin-top: 0;
    padding: 0.5rem;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $size_mobile_navigation) {
        margin-top: -2.5rem;
    }

    #search-form {
        transition: height 0.3s linear;
        overflow: hidden;
        padding: 0;

        &.collapsed {
            height: 0 !important;
        }

        .search-form-inner {
            padding: 1rem 1rem 0rem 1rem;
        }

        input[type="submit"] {
            margin-top: 1rem;
        }

        input {
            width: 100%;
        }
    }

    @media screen and (min-width: $size_mobile) {
        max-width: $size_content-width-xsmall;
        margin: 0 auto;
    }
}

#tableHeaderFilter, .search-filter {

    //padding: 5px 10px;
    .categories-filter {
        flex-grow: 1;
        flex-basis: 30%;
    }
}

#tableFooterFilter {
    border-top: 1px solid $color_gray;
    margin-top: 1rem;

    .categories-filter {
        width: 100%;

        @media screen and (min-width: $size_tablet) {
            width: $size_mini;
        }
    }

    .selectr-selected,
    .button,
    select {
        @include font-size(1.2);
        min-height: 35px;
    }

    select {
        height: 35px;
    }
}

.search-filter {

    .filter-group {
        margin-top: 1rem;
        display: flex;

        @media screen and (min-width: $size_tablet) {
            margin-top: 0;
        }
    }

    .filter-row {
        margin-top: 1rem;

        @media screen and (min-width: $size_tablet) {
            display: flex;
            align-items: center;

            .filter-group:not(:nth-of-type(1)) {
                margin-left: 1rem;
            }

            &.space-between {
                justify-content: space-between;
            }

            //button:not(.choices__button):not(.selectr-tag-remove):not(.selectr-input-clear),
            input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not(.choices__input):not(.selectr-input),
            select,
            .datepicker,
            .choices__inner {
                //min-height: 41px;
            }

            .datepicker {
                min-width: 200px;
            }
        }
    }

    .filter-element {
        &:not(:nth-of-type(1)) {
            margin-left: 1rem;
        }

        select {
            @media screen and (min-width: $size_tablet) {
                //height: 44px;
            }
        }
    }

    .filter-grid {
        margin-bottom: 1rem;
        margin-top: 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: min-content auto;

        @media screen and (min-width: $size_mobile) {
            grid-template-columns: min-content min-content;
        }

        label {
            margin-bottom: 0px;
        }
    }

    button:not(.choices__button):not(.selectr-tag-remove):not(.selectr-input-clear),
    input:not(.choices__input):not(.selectr-input),
    label,
    select {
        @include font-size(1.2);

        @media screen and (min-width: $size_mobile) {
            @include font-size(1.4);
        }
    }

    input[type="submit"],
    button{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.datepicker{
    display: block;
    width: 100%;
    padding: 0.8rem 1.2rem;
    @include font-size(1.4);
}