html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}


img {
    height: auto; 
    max-width: 100%; 
    display:block;
}

table {
    margin: 0 0 1.5em;
    width: 100%;   
}

table .fontawesome-icon svg{
    width: 1.5em;
    height: 1.5em;
}

.spinning svg {
    animation: spinning 2s infinite linear;
}

@keyframes spinning {
    0% {
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}


.alert {
    padding: 20px;
    margin-bottom: 15px;
    color: $color_text-main;

    &.danger{
        background-color: $color_red;
        color: $color_background-body;
    }

    &.success{
        background-color: $color_green;
        color: $color_background-body;
    }
    &.warning{
        background-color: $color_orange;
        color: $color_background-body;
    }
    &.info{
        background-color: $color_blue;
        color: $color_background-body;
    }

}

.alert, .notification {

    p{
        margin:0;
    }
    .closebtn {
        margin-left: 15px;
        color: #FFFFFF;
        font-weight: 600;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;

        &::hover {
            color: black;
        } 
    }
}

.notification{

    background-color: $color_background-body;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

    max-width: $size_content-width-small;
    margin: 0 auto;

    margin-bottom: 15px;

    &.seen{
        //border: 1px solid $color_text-main;
        //box-shadow: 0 0 6px #f8b9b7;

        .notification-header{
            background-color: $color_background-screen;

            &, a{
                color: $color_text-input;
            }
        }
    }

    .notification-header{

        h2{
            margin: 0;
            overflow: hidden;

            @include font-size(1.4);

            @media screen and (min-width: $size_tablet) {
                @include font-size(1.8);
            }
        }

        span{
            @include font-size(1.2);

            @media screen and (min-width: $size_tablet) {
                @include font-size(1.4);
            }
        }
    }

    .createdOn{
        @include font-size(1.2);
        font-style: italic;
        margin-top: 1rem;
    }

}

.small{
    @include font-size(1.2);
    margin:0;
}

.loading-icon{
    @include font-size(4);
}

select.button-height{
    height:44px;
}

.filter-content{

    .filter-element{
        margin-top:1rem;
        input{
            width:100%;
        }
        select {
            height:44px;
        }
    }

    @media screen and (min-width: $size_mobile) {
        display:flex;
        justify-content:space-between;
        align-items: center;

        .filter-element{
            margin-top:0px;
            margin-left:1rem;  
        }
    }
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.right-align{
    float:right;
}

.fontawesome-icon svg{
    height: 1em;
    width: 1em;
    fill: currentColor;
    display: inline-block;
    vertical-align: -.125em;
    overflow: visible;
    font-size: inherit;
}