@use "mixins";
@use "variables";
@use 'sass:math';

//button:not(.fa):not(.selectr-tag-remove):not(.leaflet-routing-reverse-waypoints):not(.leaflet-routing-add-waypoint):not(.leaflet-routing-btn):not(.user-selected-remove):not(.choices__button):not(.selectr-input-clear):not(.scrollStyle),
input[type="submit"],
.button {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    -webkit-appearance: none;

    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;

    background-position: center;
    transition: background 0.8s;
    min-width: 64px;
    font-weight: 800;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    padding-bottom: 6px;

    &,
    &:focus {

        box-sizing: border-box;

        color: variables.$color_background-body;
        background-color: variables.$color_blue;

        //transition: all 0.3s ease;

    }

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12);
        }
    }

    &.button-text,
    &.button-outlined {
        background-color: transparent;
        color: variables.$color_blue;
        box-shadow: none;

        &:hover,
        &:focus,
        &:active {
            background-color: variables.$color_blue_lighter_gray;
        }
    }

    &.button-text {
        padding-left: 12px;
        padding-right: 12px;
    }

    &.button-outlined {
        border: 1px solid variables.$color_blue;
    }

    &.white {
        background-color: variables.$color_background-body;
        color: variables.$color_blue;
        box-shadow: none;

        &:hover,
        &:focus,
        &:active {
            background-color: variables.$color_blue_lighter_gray;
        }
    }

    &.danger {
        background-color: variables.$color_red_light;

        @media (hover: hover) {
            &:hover {
                background-color: variables.$color_red;
                border-color: variables.$color_red;
                color: variables.$color_background-body;
            }
        }

        &:active {
            background-color: variables.$color_red;
            border-color: variables.$color_red;
            color: variables.$color_background-body;
        }
    }

    &.small {
        //padding: 0.5rem 1rem;
        @include mixins.font-size(1.2);
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: variables.$color_text-input;
    border: 1px solid variables.$color_border-input;
    border-radius: 0px;
    padding: 0.8rem 1.2rem;
    @include mixins.font-size(1.4);
    max-width: 100%;

    &:focus {
        color: variables.$color_text-input-focus;
    }

    &:disabled {
        background: variables.$color_gray;
    }
}

@media screen and (max-width: variables.$size_mobile) {

    input[type="date"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"] {
        appearance: none;

        background-color: variables.$color_light_gray;
        min-height: 36px;

        // https://github.com/ionic-team/ionic-framework/pull/24213
        // https://forums.developer.apple.com/forums/thread/691305
        &::-webkit-date-and-time-value {
            text-align: start;
        }
    }
}

.select-wrapper {
    position: relative;
    display: inline-block;
    // https://css-tricks.com/fighting-the-space-between-inline-block-elements/
    font-size: 0;

    @media screen and (max-width: variables.$size_mobile) {
        background-color: variables.$color_light_gray;
        border: 1px solid variables.$color_border-input;

        padding-right: 20px;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="gray" d="M201.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 338.7 54.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');
            background-repeat: no-repeat;
            background-size: 10px;
            background-position-x: right 5px;
            background-position-y: center;
            z-index: 0;
        }

        &>select {
            border: none;
            background-color: transparent;
            width: 100%;

            appearance: none;
            outline: none;

            position: relative;
            z-index: 1;
        }
    }
}

select {
    border: 1px solid variables.$color_border-input;
    border-radius: 0px;
}

textarea {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.form-control {
    display: block;
    width: 100%;

    @include mixins.font-size(1.4);

    &.select-wrapper {
        padding: 0;

        select {
            padding: 0.8rem 1.2rem;
            width: 100%;
        }
    }
}

label:not(.radio):not(.checkbox) {
    @include mixins.font-size(1.4);
    display: inline-block;
    margin-bottom: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    vertical-align: middle;
    margin-top: -1px;
}

input[type="file"] {
    padding: 0;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
    box-shadow: 0 0 6px #f8b9b7;
}

form {
    &#login.small {
        max-width: math.div(variables.$size_content-width-small, 3);
        //@include center-block();
        width: 100%;

        button {
            width: 100%;
        }
    }
}

input.read-only:read-only {
    background: #eee;
}

.html-duration-picker-wrapper {
    input.html-duration-picker {
        padding-right: 25px;
        text-align: left;
    }

    .controlsDivStyle {
        top: 0px;
    }
}

// See https://stackoverflow.com/a/11471224
input[type="color"] {
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}