//button:not(.fa):not(.selectr-tag-remove):not(.leaflet-routing-reverse-waypoints):not(.leaflet-routing-add-waypoint):not(.leaflet-routing-btn):not(.user-selected-remove):not(.choices__button):not(.selectr-input-clear):not(.scrollStyle), 
input[type="submit"],
.button {

    padding: 0.8rem 2.5rem;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    -webkit-appearance: none;
    border-radius:0;

    &,
    &:focus {
        cursor: pointer;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;

        color: #FFFFFF;
        background-color: $color_blue_light;
        
        //transition: all 0.3s ease;

        outline: none;
    }

    @media (hover: hover) {
        &:hover {
            background: $color_blue;
            border-width: 2px;
            border-style: solid;
            border-color: $color_blue;

            color: $color_background-body;

        }
    }

    &:active {
        background: $color_blue;
        border-width: 2px;
        border-style: solid;
        border-color: $color_blue;

        color: $color_background-body;
    }


    &.gray {
        background-color: $color_gray;
        color: $color_text-main;

        @media (hover: hover) {
            &:hover {
                background-color: $color_text-main;
                border-color: $color_text-main;
                color: $color_background-body;
            }
        }

        &:active {
            background-color: $color_text-main;
            border-color: $color_text-main;
            color: $color_background-body;
        }
    }

    &.danger {
        background-color: $color_red_light;

        @media (hover: hover) {
            &:hover {
                background-color: $color_red;
                border-color: $color_red;
                color: $color_background-body;
            }
        }

        &:active {
            background-color: $color_red;
            border-color: $color_red;
            color: $color_background-body;
        }
    }


    &.small {
        padding: 0.5rem 1rem;
        @include font-size(1.2);
    }


}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color_text-input;
    border: 1px solid $color_border-input;
    border-radius: 0px;
    padding: 8px 12px;
    max-width: 100%;

    &:focus {
        color: $color_text-input-focus;
    }

    &:disabled{
        background: $color_gray;
    }
}

select {
    border: 1px solid $color_border-input;
    border-radius: 0px;
}

textarea {
    width: 100%;
}


.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.8rem 1.2rem;
    @include font-size(1.4);
}

label:not(.radio):not(.checkbox) {
    @include font-size(1.4);
    display: inline-block;
    margin-bottom: 5px;
}

input[type="radio"], input[type="checkbox"]{
    vertical-align: middle;
    margin-top: -1px;
}

input[type=file] {
    padding: 0;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
    box-shadow: 0 0 6px #f8b9b7;
}

form {

    &#login.small {
        max-width: $size_content-width-small/3;
        //@include center-block();
        width: 100%;

        button {
            width: 100%;
        }
    }

}


input.read-only:read-only {
    background: #EEE;
}

.html-duration-picker-wrapper {
    input.html-duration-picker {
        padding-right: 25px;
        text-align: left;
    }

    .controlsDivStyle {
        top: 0px;
    }

}