@use "variables";

.image-gallery {
    width: 100%;
    justify-content: center;

    @media screen and (min-width: variables.$size_mobile) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }

    .image {
        flex-basis: 33%;
        //width: 100%;
        padding: 10px;
        margin: 2px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: left top;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }

            box-shadow:
                0 2px 1px -1px rgba(0, 0, 0, 0.2),
                0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12);
        }
    }
}
