.grid{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    flex-basis: auto;
    box-sizing: border-box;

    margin-right: -.5rem;
    margin-left: -.5rem;

    &.content-small{
        max-width: $size_content-width-small;
        margin: 0 auto;
    }

    &.content-xsmall{
        max-width: $size_content-width-xsmall;
        margin: 0 auto;
    }

}

.card{
    display:flex;
    flex-grow:1;
    flex-shrink: 1;

    box-sizing: border-box;

    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: 1rem;
    flex-basis: (100%/ 2);

    justify-content: center;

    @media screen and (min-width: $size_tablet) {
        flex-basis: (100%/ 4);
    }

    .card-content{
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        box-sizing: border-box; 
        text-align:center;
        background-color: $color_background-body;
        width:100%;

        position: relative;


        h3{
            background-color: $color_blue;
            margin:0;
            font-weight: 300;
            padding: 0.2rem .5rem;
            color: $color_background-body;

            &.has-image{
                position:absolute;
                top:0.5rem;
                left:0.5rem;    
                margin-right: 0.5rem;
            }

            a{
                color: $color_background-body;
            }
        }

        p{
            padding: .5rem;
        }

        i{
            @include font-size(5);
            margin: 2rem;
            @media screen and (min-width: $size_mobile) {
                @include font-size(7);
            }
            @media screen and (min-width: $size_tablet) {
                @include font-size(10);
            }
        }
    }

    &.negative h3{
        background-color: $color_red;
    }
    &.positive h3{
        background-color: $color_green;
    }
}



