.site-header{
    margin-bottom: $header_height_margin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);    
    background-color: $color_navigation_background;
    position:relative;
    z-index: 5;

    .header-inner{

        position:relative;
        display:flex;
        flex-direction: column;
        min-height: $header_height;


        @media screen and (min-width: $size_mobile_navigation) {
            align-items:center;
            //justify-content: space-between;
            flex-direction: row;
            height: $header_height;
        }
        
        .page-title{
            color: $color_navigation_text;
        }
       
    }
}