.hidden{
    display:none!important;
    opacity:0!important;
}

.center-block{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}