.hidden{
    display:none!important;
    opacity:0!important;
}

.center-block{
    /*height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered{
    margin:0 auto;
    text-align:center;
}