@use "variables";

body {
    background-color: variables.$color_background-screen;
}

.site-body {
    position: relative;
    top: variables.$header_height + variables.$header_height_margin;
    transition: top 200ms ease-in;
    //margin-top: $header_height + $header_height_margin;
}

@media screen and (min-width: variables.$size_mobile_navigation) {
    body:not(.navigation-drawer-toggled) {

        .site-body {
            margin-left: variables.$size_navigation_drawer;
        }

        &.location #mapid {
            left: variables.$size_navigation_drawer;
        }

        .site-header {
            @media screen and (min-width: variables.$size_mobile_navigation) {
                padding-left: variables.$size_navigation_drawer;
            }
        }
    }
}

.site-content,
.footer-inner {
    max-width: variables.$size_content-width;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;

    @media screen and (min-width: variables.$size_mobile_navigation) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.site-content{
    padding-bottom: 30px;
}

// header is fixed
#masthead {
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
}

#content {
    position: relative;
}

body.has-tabbar .site-body {
    top: variables.$header_height + variables.$header_height_tabbar + variables.$header_height_margin;
}