a {
    color: $color_link;
    text-decoration:none;
    word-wrap: break-word;

    &:visited {
        color: $color_link-visited;
    }
    &:hover,
        &:focus,
        &:active {
        color: $color_link-hover;
    }
    &:focus {
        //outline: thin dotted;
        outline: none;
    }
    &:hover,
        &:active {
        outline: 0;
    }
}