@use "mixins";
@use "variables";

@media screen and (max-width: variables.$size_mobile) {
    body.location {
        .site-header {
            box-shadow: none;
        }

        .site-body {
            top: variables.$header_height;
        }
        &.has-tabbar .site-body {
            top: variables.$header_height + variables.$header_height_tabbar;
        }
    }
}

#mapid {
    position: absolute;
    top: variables.$header_height + 50;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    transition: top 200ms ease-in;

    @media screen and (min-width: variables.$size_mobile) {
        top: variables.$header_height;
    }
}

body.has-tabbar.location #mapid {
    top: variables.$header_height + variables.$header_height_tabbar + 50;

    @media screen and (min-width: variables.$size_mobile) {
        top: variables.$header_height + variables.$header_height_tabbar;
    }
}

#show-filter {
    display: block;
    @include mixins.font-size(4);
    text-align: center;
    width: 100%;
    line-height: 1;

    &:hover {
        cursor: pointer;
    }

    span.angle-up {
        display: block;
    }

    span.angle-down {
        display: none;
    }

    &.hiddenSearch span.angle-up {
        display: none;
    }

    &.hiddenSearch span.angle-down {
        display: block;
    }
}

@media screen and (min-width: variables.$size_mobile_navigation) {
    //.geo-map.visible~.map-btn {
    .map-btn.map-visible {
        display: flex;
        justify-content: flex-end;
    }
}

.geo-map {
    position: relative;
    z-index: 0;
}

.update-location {
    margin-right: 5px;
}

.update-location,
.delete-location,
.set_address {
    margin-top: 1rem;
    @include mixins.font-size(1.2);
    //padding: 1rem 0.5rem;
    //line-height: 1;

    @media screen and (min-width: variables.$size_mobile_navigation) {
        margin-bottom: 2rem;
    }
}

// Marker Clusters

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;

    div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;

        text-align: center;
        border-radius: 15px;
        @include mixins.font-size(1.2);

        span {
            line-height: 30px;
        }
    }

    &.location {
        background-color: rgba(82, 172, 248, 0.6);

        div {
            background-color: rgba(0, 138, 255, 0.6);
        }
    }

    &.finances {
        background-color: rgba(181, 226, 140, 0.6);

        div {
            background-color: rgba(110, 204, 57, 0.6);
        }
    }

    &.cars {
        background-color: rgba(241, 211, 87, 0.6);

        div {
            background-color: rgba(240, 194, 12, 0.6);
        }
    }

    &.splittedbills {
        background-color: rgba(241, 158, 90, 0.6);

        div {
            background-color: rgba(243, 149, 41, 0.6);
        }
    }

    &.timesheets {
        background-color: rgba(241, 126, 222, 0.6);

        div {
            background-color: rgba(241, 40, 208, 0.6);
        }
    }

    &.trips {
        background-color: rgba(241, 126, 126, 0.6);

        div {
            background-color: rgba(241, 40, 40, 0.6);
        }
    }
}

.leaflet-control-layers-expanded {
    padding: 6px 6px 6px 6px;
}

.leaflet-control-layers-overlays {
    label {
        display: block !important;
        text-align: center;
    }

    input[type="checkbox"] + span:hover {
        cursor: pointer;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + span {
        svg {
            color: variables.$color_border-input;
            margin-left: 1rem;
            margin-right: 1rem;

            @include mixins.font-size(1.5);

            @media screen and (min-width: variables.$size_mobile_navigation) {
                @include mixins.font-size(3);
            }
        }
    }

    input[type="checkbox"]:checked + span {
        svg {
            color: variables.$color_blue;
        }
    }
}

.leaflet-popup-content {
    p {
        margin: 0;
    }
}

.leaflet-routing-alternatives-container {
    h2,
    table {
        display: none;
    }
}

body.location {
    .alert {
        display: none !important;
    }

    .site-body {
        padding: 0;
    }
}

body.trips {
    .leaflet-control-layers-overlays {
        display: flex;
    }
}

.leaflet-routing-container {
    .fontawesome-icon.icon-route {
        display: none;
    }
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
    left: 4px;
    top: -8px;

    background-image: none;

    .fontawesome-icon.icon-route {
        display: block;
    }

    svg {
        position: relative;
        color: variables.$color_blue;
        @include mixins.font-size(2);
    }
}

.leaflet-routing-reverse-waypoints,
.leaflet-routing-add-waypoint,
.leaflet-routing-btn {
    height: 30px;
    width: 30px;
}

.leaflet-routing-btn {
    padding: 0;
    outline: none;

    &.active {
        color: variables.$color_blue;
    }

    &.calc {
        float: left !important;
    }

    &.save {
        float: left !important;
    }

    &.load {
        float: left !important;
    }
}

.leaflet-routing-collapse-btn,
.navigation-btn {
    cursor: pointer;
}

.leaflet-routing-container {
    transition: none !important;
}

@media only screen and (max-width: 640px) {
    .leaflet-routing-container {
        margin-right: 10px !important;
        margin-top: 10px !important;
        padding-top: 4px !important;
    }
}

#trip-map.leaflet-pseudo-fullscreen {
    z-index: 1000;
}

.button-show-marker-details {
    border-radius: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: variables.$color_navigation_background;
    color: variables.$color_blue;
    min-width: 50px;
}
