#mapid{
    position:absolute;
    top:96px;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;

    @media screen and (min-width: $size_mobile){
        top:50px;   
    }
}

#show-filter{
    display:block;
    @include font-size(4);
    text-align:center;
    width:100%;
    line-height: 1;

    &:hover{
        cursor: pointer;
    }

    &::before{
        content: "\f106";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        transition: all 250ms;
    }

    &.hiddenSearch::before{
        content: "\f107";
        transition: all 250ms;
    }
}


#search{

    box-shadow: 0 10px 5px -5px rgba(0,0,0,0.16);

    background-color: $color_background-body;

    margin-left:-5px;
    margin-right:-5px;
    margin-top:-2.5rem;
    padding:0.5rem;
    position: relative;
    z-index: 10;

    @media screen and (min-width: $size_mobile){
        z-index: 1;
    }


    #search-form{
        //display:none;
        //padding: 1rem;
        transition: height .3s linear;
        overflow:hidden;
        padding:0;

        &.collapsed{
            height: 0!important;
        }

        .search-form-inner{
            padding:1rem 1rem 0rem 1rem ;
        }

        input[type="submit"]{
            @media screen and (min-width: $size_mobile) {
                margin-top:1rem;
            }
            width:100%;
        }

        .checkboxes{
            display:flex;
            justify-content:center;

            input[type=checkbox] + label:hover{
                cursor:pointer;
            }
            input[type=checkbox] { 
                display:none; 
            }
            input[type=checkbox] + label:before {
                font-family: FontAwesome;
                display: inline-block;
                color: $color_blue;
                margin-left: 1rem;
                margin-right:1rem;
                @include font-size(3); 

                @media screen and (min-width: $size_mobile) {
                    @include font-size(4); 
                }
            }

            input[type=checkbox]#hideLocation + label:before {
                content: "\f041"; 
            }
            input[type=checkbox]#hideFinances + label:before {
                content: "\f0d6"; 
            }
            input[type=checkbox]#hideCars + label:before {
                content: "\f018"; 
            }


            input[type=checkbox]:checked + label:before { 
                color: $color_border-input;
            }
        }
    }

    @media screen and (min-width: $size_mobile){
        max-width: $size_mobile;
        margin: 0 auto;
    }
}


@media screen and (min-width: $size_mobile_navigation){
    #geo-map.visible ~ .map-btn{
        display:flex;
        justify-content: flex-end;
    }
}

#update-location{
    margin-right: 5px;
}
#update-location, #delete-location{
    margin-top:1rem;
    margin-bottom:2rem;  
    @include font-size(1.2);
    padding: 1rem 0.5rem;
    line-height:1;
}