#mapid{
    position:absolute;
    top:96px;
    bottom:0;
    left:0;
    right:0;
    z-index:0;

    @media screen and (min-width: $size_mobile){
        top:50px;   
    }
}

#show-filter{
    display:block;
    @include font-size(4);
    text-align:center;
    width:100%;
    line-height: 1;

    &:hover{
        cursor: pointer;
    }

    &::before{
        content: "\f106";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        transition: all 250ms;
    }

    &.hiddenSearch::before{
        content: "\f107";
        transition: all 250ms;
    }
}


#search{

    box-shadow: 0 10px 5px -5px rgba(0,0,0,0.16);

    background-color: $color_background-body;

    margin-left:-5px;
    margin-right:-5px;
    margin-top:-2.5rem;
    padding:0.5rem;
    position: relative;
    z-index: 10;

    @media screen and (min-width: $size_mobile_navigation){
        z-index: 1;
    }


    #search-form{
        transition: height .3s linear;
        overflow:hidden;
        padding:0;

        &.collapsed{
            height: 0!important;
        }

        .search-form-inner{
            padding:1rem 1rem 0rem 1rem ;
        }

        input[type="submit"]{
            margin-top:1rem;
            width:100%;
        }

    }

    @media screen and (min-width: $size_mobile){
        max-width: $size_content-width-xsmall;
        margin: 0 auto;
    }
}


@media screen and (min-width: $size_mobile_navigation){
    #geo-map.visible ~ .map-btn{
        display:flex;
        justify-content: flex-end;
    }
}

#geo-map{
    position:relative;
    z-index:0;
}

#update-location{
    margin-right: 5px;
}
#update-location, #delete-location{
    margin-top:1rem;
    margin-bottom:2rem;  
    @include font-size(1.2);
    padding: 1rem 0.5rem;
    line-height:1;
}


// Marker Clusters

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;

        text-align: center;
        border-radius: 15px;
        @include font-size(1.2);
        span {
            line-height: 30px;
        }
    }

    &.location {
        background-color: rgba(82, 172, 248, 0.6);
        div {
            background-color: rgba(0, 138, 255, 0.6);
        }
    }

    &.finances {
        background-color: rgba(181, 226, 140, 0.6);
        div {
            background-color: rgba(110, 204, 57, 0.6);
        }
    }

    &.cars {
        background-color: rgba(241, 211, 87, 0.6);
        div {
            background-color: rgba(240, 194, 12, 0.6);
        }
    }
}

.leaflet-control-layers-expanded{
    padding: 6px 6px 6px 6px;
}
.leaflet-control-layers-overlays{

    label{
        display:block!important;
        text-align: center;
    }

    input[type=checkbox] + span:hover{
        cursor:pointer;

    }
    input[type=checkbox] { 
        display:none; 
    }
    input[type=checkbox] + span span:before {
        font-family: FontAwesome;
        display: inline-block;
        color: $color_border-input;
        margin-left: 1rem;
        margin-right:1rem;
        @include font-size(2); 

        @media screen and (min-width: $size_mobile_navigation) {
            @include font-size(3); 
        }
    }

    input[type=checkbox]:checked + span span:before { 
        color: $color_blue;
    }

    input[type=checkbox] + span span#layerLocation:before  {
        content: "\f124"; 
    }
    input[type=checkbox] + span span#layerFinances:before  {
        content: "\f0d6"; 
    }
    input[type=checkbox] + span span#layerCars:before  {
        content: "\f018"; 
    }
    input[type=checkbox] + span span#layerDirections:before  {
        content: "\f07e"; 
    }

    input[type=checkbox] + span span#toggleClustering:before  {
        content: "\f247"; 
    }

}

body.location {
    .alert{
        display:none;
    }
}