@use "mixins";
@use "variables";

dialog {
    border: 0;
    background-color: variables.$color_blue;
    position: relative;
    padding: 0;
    outline: 0;
    width: calc(100% - (0.5rem * 2));
    margin: 0.5rem auto;

    box-shadow:
        0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);

    border-radius: 4px;

    @media screen and (min-width: variables.$size_mobile) {
        width: variables.$size_mobile;
        margin: 1.75rem auto;
    }

    & > :first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    & > :last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    &::backdrop {
        background: rgba(0, 0, 0, 0.4);
    }

    &.vertical-centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-header,
    .modal-content,
    .modal-footer {
        padding: 0.4em 1em;

        summary {
            @include mixins.font-size(1.6);
            font-weight: 600;
        }
    }

    .modal-header {
        color: variables.$color_background-body;
        font-weight: 600;
        @include mixins.font-size(1.6);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .modal-close {
            color: variables.$color_background-body;
            font-weight: 600;
            @include mixins.font-size(3);
            cursor: pointer;
            padding: 0 0.5rem 0 3rem;
        }
    }

    .modal-content,
    .modal-footer {
        background-color: variables.$color_background-body;
    }

    .modal-footer {
        border-top: 1px solid variables.$color_light_gray;
        display: flex;
        justify-content: flex-end;
    }

    &,
    .add-element-text,
    label:not(.radio):not(.checkbox) {
        @include mixins.font-size(1.3);
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    button.cancel,
    input[type="submit"] {
        &,
        &:hover,
        &:focus {
            //padding: 0.5rem 1rem!important;
            @include mixins.font-size(1.4);
        }
    }

    button.cancel {
        margin-left: 1rem;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 1rem;
        justify-content: flex-end;
    }
}
