
#recipes_steps{

    .step{

        display:flex;
        flex-direction: column;

        @media screen and (min-width: $size_mobile) {
            flex-direction: row;
        }


        padding: 1rem;
        border: 1px solid $color_blue_light_gray;
        border-radius: 5px;
        margin: 0.5rem;

        .step-content{
            flex-basis: 100%;
        }


        label{
            display:block;
        }
        input:not(.selectr-input){
            width: 100%;
        }

        .icons{

            display:flex;
            justify-content: flex-end;

            @media screen and (min-width: $size_mobile) {
                //margin-top: 2.8rem;
                margin-right: 1rem;
                margin-left: 1rem;
            }

            .step-handle{
                margin-left: 10px;
            }
        }
    }

    .step-drag {
        border: 1px dashed $color_text-main;
    }

    .add-ingredient-btn-wrapper{
        display:flex;
        margin-top: 1rem;
        justify-content: center;
    }

    .step-ingredient{
        display:flex;
        align-items:center;
        margin-bottom: 1rem;

        input, .ingredient-handle, .selectr-container{
            margin-right: 1rem;
        }

        input[name="amount"]{
            flex-basis: 20%;
        }

        input{
            padding: 8px 12px;
            @include font-size(1.4);
        }

        input, .selectr-selected{
            border: 1px solid #ccc;
            border-radius: 0px;
        }
        .selectr-options-container{
            border-color: #ccc;
            border-radius: 0px;
        }

        .ingredient-choices{
            margin-bottom: 0;
            width: 100%;
            margin-right: 1rem;

            .choices__inner{
                min-height: 37px;
                //padding: 5px 7.5px 5px 7.5px;
                padding: 8px 12px;
                border: 1px solid #ccc;
                @include font-size(1.4);

                .choices__list{
                    padding: 0;
                }
            }
        }
    }




}

#recipes_steps, .mealplan-recipe{
    .icons{

        .minus, .handle{
            cursor:pointer;
            &:hover{
                color: $color_blue;
            }
        }

        .handle{
            margin-right: 10px;
        }
    }
}

.add-step-btn-wrapper{
    display:flex;
    margin: 2rem;
    justify-content: flex-end;
}


.recipe-description{
    margin: 1rem;
    flex-grow: 1;

    @media screen and (min-width: $size_mobile_navigation) {
        margin-top: 0;
    }

    font-style: italic;
    font-weight: 400;
}

.recipe-link{
    margin: 1rem;
}

.recipe-icons{
    display:flex;
    justify-content: space-around;
    margin: 1rem;

    i, span, svg{
        @include font-size(1.6);
        margin-right: 0.5rem;
        @media screen and (min-width: $size_mobile) {
            @include font-size(3);
        }
    }

    span{
        white-space: nowrap;
    }

    &.recipe-step-icons{
        i, span, svg{
            @include font-size(1.4);
            @media screen and (min-width: $size_mobile) {
                @include font-size(1.6);
            }
        }
    }

}

.recipe-ingredients-image{
    display:flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: $size_mobile_navigation) {
        flex-direction: row;
        align-items: flex-start;
    }

    .recipe-image{
        flex-grow: 1;
        max-height: 100%;
        @media screen and (min-width: $size_mobile_navigation) {
            flex-basis: 40%;
        }
    }

    .recipe-ingredients{

        margin-top: 1rem;

        @media screen and (min-width: $size_mobile_navigation) {
            margin-left: 1rem;
            margin-top: 0;
        }
        flex-basis: 60%;
        padding: 1rem;
        flex-shrink: 1;
        flex-grow: 1;
        height: 100%;

        .recipe-ingredients-title{
            @include font-size(1.8);
        }
    }

    img, .recipe-ingredients{
        border: 1px solid $color_blue_light_gray;
        border-radius: 5px;
    }
}

.recipe-step-ingredients-description{
    display:flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: $size_mobile_navigation) {
        flex-direction: row;
    }

    .recipe-step-ingredients{

        margin-top: 1rem;

        @media screen and (min-width: $size_mobile_navigation) {
            margin-left: 1rem;
            margin-top: 0;
        }
        flex-basis: 30%;
        padding: 1rem;

        .recipe-step-ingredients-title{
            @include font-size(1.6);
            font-weight: 600;
        }

        border: 1px solid $color_blue_light_gray;
        border-radius: 5px;
    }

    .recipe-description{
        //padding: 1rem;
        width: 100%;
        flex-basis: 70%;
    }
}


.ingredient-select{
    cursor:pointer;

    &:focus{
        color: $color_text-main;
    }

    @media (hover: hover) {
        &:hover {
            color: $color_blue;
        }
    }
    &.active, &.active :focus {
        color: $color_blue;
    }

}

#filterSearchRecipes{
    width: 100%;
}

.recipe-list .recipe{
    h3{
        padding: 0.5rem 3rem;
        margin: 0;
    }

    .recipe-list-image-description{
        display:flex;
        justify-content: space-between;
        flex-direction: column;

        @media screen and (min-width: $size_mobile_navigation) {
            flex-direction: row;
        }
    }
}

.recipe-step-header{
    margin: 0;
}


.mealplan-list{
    display:flex;
    flex-direction: column-reverse;
    @media screen and (min-width: $size_mobile_navigation) {
        flex-direction: row;
    }
    .mealplans{
        display: flex; 
        flex-direction: column; 
        flex-grow: 1;
        @media screen and (min-width: $size_mobile_navigation) {
            flex-basis: 50%;
        }
    }
    .mealplan-list-settings{
        @media screen and (min-width: $size_mobile_navigation) {
            position: sticky;
            top: $header_height + $header_height_margin;
            align-self: flex-start;
            flex-basis: 50%;

            margin-left: 1rem;
        }
    }
}

.mealplan-recipe{

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid $color_blue_light_gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;

    .title{
        display: flex;
        align-items: center;
    }

    h3{
        margin: 0;
        padding: 0;
    }
}

.mealplan-date{
    h2{
        padding: 0.5rem 3rem;
        margin: 0;
    }

    .recipes-target{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .create-notice{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
}

body.sortable-select{
    .step-container{
        display: none;
    }
}