#splitbills_bills_table{
    td span.negative{
        color:$color_red;
    }
    td span.positive{
        color:$color_green;
    }
}

#splitbillsBillsForm{
    .userlist .user-entry{

        &.header{
            @include font-size(1.2);
            display:none;
        }

        .user, .input-field, .paymethod-field{
            padding-bottom:1rem;
        }

        @media screen and (max-width: $size_mobile) {

            .paymethod-field, .input-field{
                padding-left: 40%; 
                position: relative;
                white-space: normal;

                &[data-title]:before{
                    top: 10px;
                    left: 0;
                    width: 40%; 
                    position: absolute;
                    content:attr(data-title);
                    @include font-size(1.2);
                    text-align:left;
                    word-break: break-all;
                }
            }
        }
        @media screen and (min-width: $size_mobile+1px) {
            @include grid-container();
            
            &.header{
               display:block; 
            }

            .user{
                @include grid-column(2);
            }
            .input-field{
                @include grid-column(3);
            }
            .paymethod-field{
                @include grid-column(3);
            }
        }

    }

    .splitbill_btn{
        margin-bottom:0.5rem;
        margin-right:0.5rem;
    }
}

#splitbill_overview{
    @media screen and (max-width: $size_mobile_navigation) {
        flex-direction:column;
    }

    .card{

        p{
            @include font-size(2);
            @media screen and (min-width: $size_mobile_navigation) {
                @include font-size(4);
            }
            margin:0;
        }
    }

    .card.negative h3{
        background-color: $color_red;
    }
    .card.positive h3{
        background-color: $color_green;
    }
}

.splitbill_total{
    margin-bottom: 1rem;

    p.negative{
        color: $color_red;
    }
    p.positive{
        color: $color_green;
    }
}