.timesheet-fast {

    &.categories-filter,
    &.customer {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: 100%;
    }

    &.categories-filter {
        margin-top: 2rem;
    }

    &.customer {
        @media screen and (min-width: $size_tablet) {
            width: auto;
        }
    }
}

#timesheets_sheets_table {

    tr[data-planned="1"] {
        color: $color_blue;
    }

    tr[data-billed="1"] {
        color: $color_orange;
    }

    tr[data-payed="1"] {
        color: $color_green;
    }
}

.timesheet-notice-wrapper {

    h3,
    h4 {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    h3:not(.sheet_title) {
        font-weight: 400;
    }

    h4 {
        @include font-size(1.6);
    }

    .timesheet-notice {
        margin-top: 2rem;

        label,
        h4 {
            text-decoration: underline;
            @include font-size(1.6);
            margin-bottom: 0.5rem;
        }

        p {
            margin-top: 0;
            @include font-size(1.6);
        }
    }
}

#timesheets_calendar {
    .fc-toolbar-title {
        @include font-size(1.6);

        @media screen and (min-width: $size_content-width-small) {
            @include font-size(2);
        }
    }

    table {
        margin-bottom: 0;
    }

    .fc-daygrid-event-dot {
        border-radius: 0;
    }

    .fc-event:hover {
        cursor: pointer;
    }

    .fc-button {

        &:focus,
        &.fc-button-active {
            background-color: var(--fc-button-hover-bg-color);
            border-color: var(--fc-button-hover-border-color);
            color: var(--fc-button-text-color);
            box-shadow: none;
        }
    }

    @media screen and (max-width: $size_tablet) {
        .fc-dayGridMonth-view {
            .fc-event {

                .fc-event-time,
                .fc-event-title {
                    display: none;
                }
            }
        }

        .fc-header-toolbar {
            flex-direction: column;
            row-gap: 10px;
        }
    }
}