@use "mixins";
@use "variables";

#toastmessage {
    visibility: hidden;
    min-width: 250px;
    //margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0px);
    @include mixins.font-size(1.4);

    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;

    &.show {
        visibility: visible;
        animation: toastfadein 0.5s, toastfadeout 0.5s 2.5s;
    }

    &.red {
        background-color: variables.$color_red;
        color: variables.$color_background-body;
    }

    &.green {
        background-color: variables.$color_green;
        color: variables.$color_background-body;
    }

    &.orange {
        background-color: variables.$color_orange;
        color: variables.$color_background-body;
    }

    &.blue {
        background-color: variables.$color_blue;
        color: variables.$color_background-body;
    }
}

@keyframes toastfadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes toastfadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}