#app-bar {
    display: flex;
    //justify-content: flex-start;
    align-items: center;
    height: $header_height;
    overflow: hidden;

    #mobile-header-icons,
    #iconBell {
        display: flex;
        align-items: center;
        height: $header_height;
    }

    #mobile-header-icons {
        display: flex;
        align-items: center;
        height: 48px;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;

        @media screen and (min-width: $size_mobile_navigation) {
            display: none;
        }
    }

    a {
        //@see https://stackoverflow.com/a/21003770
        user-select: none;

        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }


    a.active {

        i,
        svg {
            //color: $color_navigation_text_hover;
        }
    }

    .disabled {

        i,
        svg {
            color: $color_border-input;
        }
    }

    #iconBell {
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }

    #menu-toggle {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        padding: 0;
        outline: none;
        padding-left: 6px;
        padding-right: 6px;

        -webkit-tap-highlight-color: transparent;

        will-change: transform;
    }
}

a.has-Notification {
    position: relative;

    &[data-badge]:after {
        content: attr(data-badge);
        position: absolute;
        z-index: 100;
        font-size: 10px;
        background: $color_red;
        color: $color_background-body;
        width: 15px;
        height: 15px;
        text-align: center;
        line-height: 15px;
        border-radius: 50%;
        box-shadow: 0 0 1px #ccc;

        top: -4px;
        right: -4px;
    }
}


.tabbar {
    overflow: hidden;

    .tabbar-scroller {
        position: relative;
        display: flex;
        align-items: center;

        //margin-left: 24px;

        //@media screen and (min-width: $size_mobile_navigation) {
            margin-left: 0;
        //}

        height: 0;
        //height: $header_height_tabbar;
        transition: height 200ms ease-in;

        .tabbar-tab {
            color: $color_blue_light_gray;
            font-weight: 800;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 6px;
            padding-bottom: 6px;

            display: flex;
            justify-content: center;
            align-items: center;
            height: $header_height_tabbar;
            cursor: pointer;

            &:hover {
                color: $color_background-body;
            }
        }

        .tabbar-tab-scroll-btn {
            padding-left: 6px;
            padding-right: 6px;
            display: none;

            @media screen and (min-width: $size_mobile_navigation) {
                display: flex;
            }
        }

        .tabbar-scrollarea {
            overflow: auto hidden;
            overscroll-behavior-x: contain;
            //scroll-snap-type: x mandatory;

            //scroll-behavior: smooth;
            display: flex;
            justify-content: flex-start;
            flex-basis: 100%;

            @media screen and (min-width: $size_mobile_navigation) {
                overflow: hidden;
            }

            .tabbar-tab {
                border-bottom: 5px solid transparent;

                flex-basis: auto;
                flex-grow: 1;
                flex-shrink: 0;

                text-transform: uppercase;

                white-space: nowrap;

                /*@media screen and (min-width: $size_mobile_navigation) {
                    scroll-snap-align: start;
                }*/

                padding-left: 6px;
                padding-right: 6px;

                &:hover,
                &.active {
                    color: $color_background-body;
                    border-bottom-color: $color_background-body;
                }
            }

            &:hover .tabbar-tab.active:not(:hover) {
                border-bottom-color: transparent;
                color: $color_blue_light_gray;
            }

        }

        &.no-scroll {
            margin-left: 0;

            .tabbar-scrollarea {
                .tabbar-tab {
                    flex-basis: 0;
                    flex-grow: 1;
                    flex-shrink: 1;

                    min-width: 64px;
                    padding-left: 24px;
                    padding-right: 24px;
                }
            }
        }

    }
}