.set_address{
    margin-top:1rem;
    margin-bottom:2rem;  
    @include font-size(1.2);
    padding: 1rem 0.5rem;
    line-height:1;
}

#trip-map{
    height:250px;
    margin-bottom: 0;
    position:relative;
    z-index:0;
    @media screen and (min-width: $size_mobile_navigation){
        height:500px;
    }

    /*.leaflet-control-layers-overlays{
        display:flex;
    }*/
}

button.trips_overview{
    margin-bottom:0.5rem;
    margin-right:0.5rem;
}

body.trips .inner-content .page-header{
    margin-bottom:0;
}

.trip_day{

    h3{
        @include font-size(1.8);
        font-weight:600;
        border-bottom: 1px solid $color_text-main;
    }
    .trip_event{

        padding: 0 0 2rem 0;

        h4{
            margin-top:0;
            margin-bottom: 1rem;
            @include font-size(1.6);
            font-weight:600;
        }

        .date{
            margin-bottom: 1rem;
        }

        .description{
        
            word-break: break-word;
            hyphens: auto;
            
            @include font-size(1.4);

            .description_full{
                display:none;
                padding-top: 0.5rem;
                padding-bottom: 1rem;

            }

            .description_text{
                &:before {
                    content: "\f067";
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    transition: all 250ms;
                    @include font-size(1.4);
                    color: $color_text-main;
                    position: relative;
                    margin-right: 5px;
                }
            }

            &.active {
                .description_full{
                    display:block;
                }

                .description_text:before{
                    content: "\f068";
                }
            }


        }

        display:flex;
        justify-content: space-between;

        .icon{
            margin-right: 2rem;

            i{
                margin-top:5px;
                @include font-size(2);
                width:20px;
                @media screen and (min-width: $size_tablet) {
                    @include font-size(4);
                    width:70px;

                }
            }
        }
        .text{
            flex-grow:1;
        }
        .buttons{
            display:flex;
            flex-direction:column;
            @media screen and (min-width: $size_tablet) {
                flex-direction:row;
            }
            a{
                margin-left:1rem;
            }
        }
    }
}


@media print {
    @page {
        size: A4;
        margin:10mm;
    }

    * {
        -webkit-print-color-adjust: exact  !important;
        printer-colors: exact  !important;
        color-adjust: exact  !important;
    }

    .trip_day h3{
        page-break-after: avoid!important;
        break-after: avoid!important;
    }

    .trip_day, .trip_event{
        break-inside: avoid;
        page-break-inside: avoid;
    }
    
    .trip_event.has_notice{
        break-inside: auto!important;
        page-break-inside: auto!important;
    }
    
    .trip_event.has_notice{
        page-break-before: avoid;
    }
    
    // show event description only on first day
    .trip_event.hidden_description_print .description{
        display:none;
    }
    
    .page-header{
        display:none;
    }

    #content{
        top:0;
        max-width:100%;
    }
    .inner-content{
        box-shadow: none;
    }

    body{
        overflow: visible;
    }

    body, .page-header{
        background-color: $color_background-body;
        color: #000000;
    }

    .site-header,
    a.change_day, 
    .trip_event .buttons,
    .description_text{
        display:none!important;
    }

    .description_full{
        display:block!important;
    }

    #trip-map{
        display:none;

        .leaflet-control-container{
            display:none;
        }
    }

}

.image_uploaded{
    margin-bottom:1rem; 
}