@use "mixins";
@use "variables";

.set_address {
    margin-bottom: 2rem;
}

#trip-map {
    height: 250px;
    margin-bottom: 0;
    position: relative;
    z-index: 0;

    @media screen and (min-width: variables.$size_mobile_navigation) {
        height: 500px;
    }

    /*.leaflet-control-layers-overlays{
        display:flex;
    }*/
}

button.trips_overview {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

body.trips .inner-content .page-header {
    //margin-bottom: 0;
}

.trip_day {
    h3 {
        @include mixins.font-size(1.8);
        font-weight: 600;
        border-bottom: 1px solid variables.$color_text-main;
    }

    .trip_event {
        padding: 0 0 2rem 0;

        h4 {
            margin-top: 0;
            margin-bottom: 1rem;
            @include mixins.font-size(1.6);
            font-weight: 600;
        }

        .date {
            margin-bottom: 1rem;
        }

        .description {
            word-break: break-word;
            hyphens: auto;

            @include mixins.font-size(1.4);

            .description_full {
                display: none;
                padding-top: 0.5rem;
                padding-bottom: 1rem;
            }

            .description_text {
                span.plus {
                    display: inline-block;
                }

                span.minus {
                    display: none;
                }

                svg {
                    transition: all 250ms;
                    @include mixins.font-size(1.4);
                    color: variables.$color_text-main;
                    position: relative;
                    margin-right: 5px;
                }
            }

            &.active {
                .description_full {
                    display: block;
                }

                span.plus {
                    display: none;
                }

                span.minus {
                    display: inline-block;
                }
            }
        }

        display: flex;
        justify-content: space-between;

        .trip-icon {
            margin-right: 2rem;

            i,
            svg {
                margin-top: 5px;
                @include mixins.font-size(2);
                width: 20px;

                @media screen and (min-width: variables.$size_tablet) {
                    @include mixins.font-size(4);
                    width: 70px;
                }
            }
        }

        .text {
            flex-grow: 1;
        }

        .buttons {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: variables.$size_tablet) {
                flex-direction: row;
            }

            a {
                margin-left: 1rem;
            }

            i,
            svg {
                margin-bottom: 5px;
                @include mixins.font-size(2);

                @media screen and (min-width: variables.$size_tablet) {
                    margin-left: 5px;
                }


                &:hover {
                    color: variables.$color_blue;
                }
            }
        }
    }
}

.image_uploaded {
    margin-bottom: 1rem;
}

.trip_buttonrow {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: variables.$size_mobile_navigation) {
        flex-direction: row;
        justify-content: space-between;
    }

    .misc-buttons {
        display: flex;
        flex-shrink: 0;

        margin-bottom: 1rem;

        @media screen and (min-width: variables.$size_mobile_navigation) {
            margin-bottom: 0;
            justify-content: flex-end;
        }
    }
}

.trip_event-placeholder {
    //border: 1px dashed $color_text-main;
    //background-color:#CCCCCC;
}

.trip_day .trip-icon i:hover,
svg:hover {
    cursor: pointer;
}

.leaflet-marker-icon.extra-marker {
    svg {
        margin-top: 10px;
        color: #ffffff;
        width: 1.5em;
        height: 1.5em;
    }
}

.leaflet-container {
    @include mixins.font-size(1);
}

.leaflet-routing-btn {
    &.add,
    &.reverse {
        svg {
            height: 14px;
            width: 14px;
        }
    }
}

.leaflet-routing-add-waypoint {
    display: none;
}
