@use "variables";

.two-columns{
    display:block;

    .left, .right{
        flex: 1;
    }

    .large {
        flex-grow: 1;
    }

    .label{
        margin-right: 2rem;
    }

    &.mobile{
        display:flex;

        .left{
            margin-right:10px;
        }
        .right{
            margin-left:10px;
        }

    }
}

@media screen and (min-width: variables.$size_mobile){
    .two-columns{
        display:flex;

        .left{
            margin-right:10px;
        }
        .right{
            margin-left:10px;
        }
    }
}