@use "mixins";
@use "variables";

html {
    /* Needed for reference of @include font-size() */
    font-size: 10px;
}


html, body {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: variables.$color_text-main;
    font-family: variables.$font_main;
    line-height: variables.$font_line-height-body;
    font-weight: 400;

    @include mixins.font-size(1.4);
    @media screen and (min-width: variables.$size_mini), print{
        @include mixins.font-size(1.6);
    }
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: 600;
}

h1, h2{
    @include mixins.font-size(1.6);

    @media screen and (min-width: variables.$size_mini) {
        @include mixins.font-size(1.8);
    }

    @media screen and (min-width: variables.$size_tablet), print {
        @include mixins.font-size(2.4);
    }
}

h4{
    @include mixins.font-size(1.4);
    margin-bottom: 5px;
    font-weight: 400;
}

p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

.no-margin-bottom{
    margin-bottom:0;
}