$font_main: 'Open Sans', sans-serif;
$font_line-height-body: 1.5;


$size_content-width: 1280px;
$size_content-width-small: 720px;
$size_content-width-xsmall: 550px;

$size_mobile : 720px;
$size_tablet : 960px;
$size_mobile_navigation: $size_tablet;


// Colors

$color_blue : #1565c0;
$color_blue_light: #1e88e5;
$color_text-main: #404040;

$color_red: #eb4646;
$color_orange: #f39c12;
$color_green: #4CAF50;


$color_link: #404040;
$color_link-visited: $color_link; 
$color_link-hover: $color_blue_light;

$color_background-body: #fff;
$color_background-screen: #f1f1f1;


// Forms
$color_border-input: #ccc;
$color_text-input: #666;
$color_text-input-focus: #111;


$header_height : 50px;
$header_height_margin: 20px;