$font_main: 'Open Sans', sans-serif;
$font_line-height-body: 1.5;


$size_content-width: 1280px;
$size_content-width-small: 720px;
$size_content-width-xsmall: 550px;

$size_mini : 400px;
$size_mobile : 720px;
$size_tablet : 960px;
$size_big: 1190px;
$size_desktop: $size_content-width;
$size_mobile_navigation: $size_tablet;
$size_navigation_drawer : 256px;


// Colors

$color_blue : #1565c0;
$color_blue_light: #1e88e5;
$color_blue_light_gray: #9bb0c9;
$color_blue_light_background: #3c7dc7;
$color_blue_lighter_background: #8db6e5;
$color_text-main: #404040;
$color_text-secondary: #585858;

$color_red: #eb4646;
$color_red_light: #ec7063;
$color_orange: #f39c12;
$color_yellow: #ffd620;
$color_green: #4CAF50;
$color_black: #000;

$color_light_gray: #f1f1f1;
$color_border: #c4c4c4;
$color_gray: #cccccc;
$color_blue_lighter_gray: #d9e6f4;


$color_link: #404040;
$color_link-visited: $color_link; 
$color_link-hover: $color_blue_light;

$color_background-body: #fff;
$color_background-screen: $color_light_gray;

$color_app-bar_background: $color_blue;
$color_navigation_background: #fff;
$color_navigation_text: #bdd8f5;
$color_navigation_text_hover: $color_background-screen;
$color_navigation_divider: $color_navigation_text;


// Forms
$color_border-input: $color_gray;
$color_text-input: #666;
$color_text-input-focus: #111;


$header_height : 56px;
$header_height_margin: 20px;
$header_height_tabbar: 50px;
$header_height_navigation_offset: 20px;