@use "mixins";
@use "variables";

tr.departures__departure[data-cancelled*="CANCELLED"] {
    text-decoration: line-through;
}

.departures__departure__line {
    border-spacing: 10px 0px;
    border-collapse: separate;
    text-align: left;
    color: white;
    font-weight: normal;
}

.departures__departure__line__number {
    background: #aaa;
    color: #000;
    padding: 1px 3px;
    margin-right: 15px;
    border-radius: 2px;
}

.departures__departure__direction {
    white-space: nowrap;
}

.departures__delay {
    padding-left: 10px;
    padding-top: 0px;
    text-align: right;
    font-weight: normal;
    min-width: 20px;

    @include mixins.font-size(1.1);
}

.departures__delay__time {
    background: #ff7575;
    color: #000;
    padding: 1px 3px;
    margin-right: 15px;
    border-radius: 2px;
}

.departures__departure__line,
.departures__departure,
.departures__delay {
    width: 1px;
    white-space: nowrap;
}

.request_widget {
    .large {
        @include mixins.font-size(4);
    }

    &+.loading-icon {
        padding: 10rem;
    }
}

table.timesheets_project_budget_widget {
    .red {
        color: variables.$color_red;
    }

    .green {
        color: variables.$color_green;
    }

    .orange {
        color: variables.$color_orange;
    }

    .yellow {
        color: variables.$color_yellow;
    }

    margin-bottom: 0;
}

.card[data-widget-name="timesheets_project_budget"] {
    flex-basis: 100%;

    @media screen and (min-width: variables.$size_tablet) {
        flex-basis: 50%;
    }

    h3,
    h4 {
        text-align: left;
        padding: 0;
        margin: 0;
        margin-top: 1rem;
    }
}

.card[data-widget-name="timesheets_fast_create"] {
    button {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

.widget-content {
    padding: 1rem;

    .alert {
        margin-top: 1rem;
    }
}

.widget-board-card,
.widget-shopping-list-entry {
    display: flex;
    padding: 1rem;

    &:not(:last-child) {
        border-bottom: 1px solid variables.$color_blue_lighter_gray;
    }

    .widget-card-title {
        margin-left: 2rem;
        text-align: left;
    }
}

body.profile {
    .card-header .handle {
        display: block;
        margin-left: 10px;
        @include mixins.font-size(2);
        cursor: pointer;
    }

    &.no-touch-enabled {
        .card-header .handle {
            display: none;
        }
    }
}