@use "mixins";
@use "variables";

.workout-selection {
    margin-bottom: 2rem;

    h2 {
        margin: 1rem 0;
        @include mixins.font-size(1.6);
    }

    .exercise {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        border: 1px solid variables.$color_blue_light_gray;
        border-radius: 5px;

        margin: 0.5rem;

        //user-select: none;

        @media screen and (min-width: variables.$size_mobile) {
            flex-direction: row;
        }

        &.sortable-ghost,
        &.sortable-fallback {
            background-color: variables.$color_background-body;
        }

        .thumbnail {
            flex-basis: 20%;
            order: 3;

            img {
                margin-left: 10px;
            }
        }

        .icons {
            display: flex;
            justify-content: flex-end;
            order: 1;

            @media screen and (min-width: variables.$size_mobile) {
                //margin-top: 2.8rem;
                margin-right: 1rem;
                margin-left: 1rem;

                order: 4;
            }

            .minus,
            .plus,
            .handle {
                cursor: pointer;

                &:hover {
                    color: variables.$color_blue;
                }
            }

            .handle {
                margin-left: 10px;
            }
        }

        .exercise-content {
            flex-basis: 100%;
            margin-bottom: 1rem;
            order: 2;

            .bodypart {
                @include mixins.font-size(1.2);
            }

            .title {
                @include mixins.font-size(1.6);
                margin: 0;
                margin-bottom: 0.5rem;
            }

            .instructions,
            .sets,
            .sets-description,
            .notices,
            .view-notices,
            .muscles {
                @include mixins.font-size(1.4);

                word-break: break-word;
                hyphens: auto;

                .content {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    margin: 0;
                    display: none;
                }

                .headline {
                    display: block;

                    span.angle-down {
                        display: inline-block;
                    }

                    span.angle-up {
                        display: none;
                    }

                    svg {
                        transition: all 250ms;
                        @include mixins.font-size(1.4);
                        color: variables.$color_text-main;
                        position: relative;
                        margin-right: 5px;
                    }
                }

                &.active {
                    .content {
                        display: block;
                    }

                    span.angle-down {
                        display: none;
                    }

                    span.angle-up {
                        display: inline-block;
                    }
                }
            }

            .set {
                margin-bottom: 0.2rem;

                input {
                    padding: 0.2rem;
                    @include mixins.font-size(1.2);

                    &[type="number"] {
                        max-width: 50px;
                    }
                }

                select {
                    padding: 0.2rem;
                    @include mixins.font-size(1.2);
                }
            }

            .buttons {
                display: flex;
                margin: 0.5rem 0;

                button {
                    margin-left: 0.5rem;
                }
            }
        }

        &.selected {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (min-width: variables.$size_mobile) {
                flex-direction: row;
            }

            .thumbnail {
                display: none;

                @media screen and (min-width: variables.$size_mobile) {
                    display: block;
                    flex-basis: 15%;
                }

                img {
                    margin-right: 10px;
                    margin-left: 0;
                }
            }

            .exercise-content {
                flex-basis: 85%;
            }

            .buttons {
                justify-content: flex-end;
            }
        }

        &.choose {
            .sets,
            .notices {
                display: none;
            }
        }

        h4 {
            font-weight: bold;
        }

        p {
            margin-top: 0;
            margin-bottom: 0.5rem;
            @include mixins.font-size(1.4);
        }
    }

    .exercise-session {
        .thumbnail {
            display: none;

            @media screen and (min-width: variables.$size_mobile) {
                display: block;
            }
        }
    }

    .workout_day_split,
    .workout_superset {
        padding: 1rem;
        border: 1px solid variables.$color_blue_light_gray;
        border-radius: 5px;
        margin: 0.5rem;

        //@media screen and (min-width: $size_mobile) {
        display: flex;
        justify-content: space-between;
        //}

        .icons {
            display: flex;
            justify-content: flex-end;

            @media screen and (min-width: variables.$size_mobile) {
                margin-right: 1rem;
            }

            .minus,
            .handle {
                cursor: pointer;
            }

            .handle {
                margin-left: 10px;
            }
        }

        .content {
            width: 100%;

            .exercises {
                min-height: 50px;
                border: 1px dotted variables.$color_text-main;
                border-radius: 2px;
            }
        }

        .exercises {
            width: 100%;
        }
    }

    &.view {
        .exercise {
            display: block;
            border: none;

            @media screen and (min-width: variables.$size_mobile) {
                display: flex;
            }

            .exercise-content {
                /*.sets {
                    display: none;
                }*/

                /*.headline {
                    display: none;
                }*/

                .sets-description,
                .view-notices {
                    .content {
                        display: block;
                    }
                }
            }
        }

        .icons {
            display: none;
        }
    }
}

#exercise-images {
    position: relative;

    .image-base {
        position: relative;
        top: 0;
        left: 0;
    }

    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.small {
        max-width: 250px;
    }
}

#setCount,
#setRepeat,
#setWeight {
    padding: 0.2rem;
    @include mixins.font-size(1.6);
    max-width: 70px;
    margin-left: 10px;
}

#addExercise {
    margin-left: 10px;
}

#addExerciseToSession {
    max-width: 50%;

    select {
        max-width: 100%;
    }
}

.workout_superset_child {
    padding: 1rem;
    border: 1px dotted variables.$color_text-main;
    border-radius: 2px;
    margin: 0.5rem;
}

.exercise-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;

    #filterBodyParts {
        padding: 2px;
    }

    #filterSearchExercises {
        padding: 2px;
    }
}

.workouts-session-view {
    .instructions {
        display: none;
    }
}

#workoutExerciseSelection {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "selected_exercises_title"
        "selected_exercises"
        "available_exercises_title"
        "available_exercises";

    @media screen and (min-width: variables.$size_mobile) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "selected_exercises_title available_exercises_title"
            "selected_exercises available_exercises";
    }

    .selected_exercises_title {
        grid-area: selected_exercises_title;
    }

    .selected_exercises {
        grid-area: selected_exercises;
    }

    .available_exercises_title {
        grid-area: available_exercises_title;
    }

    .available_exercises {
        grid-area: available_exercises;

        min-height: 500px;

        .content {
            overflow: auto;
            max-height: calc(500px - 40px);

            @media screen and (min-width: variables.$size_mobile) {
                max-height: calc(100% - 40px);
            }
        }
    }
}

body.workouts.sortable-select {
    .exercise.selected,
    .exercise-session {
        .bodypart,
        .instructions,
        .notices,
        .sets,
        .buttons,
        .view-notices,
        .thumbnail {
            //display: none;
        }
    }
}
