<div class="tabbar-scroller no-scroll">
	<div class="tabbar-scrollarea">
		<a class="tabbar-tab {% if active == 'location' %}active{% endif %}" href="{{ url_for('location') }}">{{"MENU_LOCATION"|trans}}</a>
		<a class="tabbar-tab {% if active == 'steps' %}active{% endif %}" href="{{ url_for('steps') }}">{{"STEPS"|trans}}</a>
	</div>
</div>
