{% extends "base.twig" %}

{% set active = 'trips' %}

{% block body %}
    <div class="inner-content">
        <div class="page-header"><h2>{{trip.name|raw}}</h2> <a href="{{  path_for('trips_event_edit', {'trip':trip.hash}) }}"><button class="white"><i class="fa fa-plus" aria-hidden="true"></i> {{lang["ADD_EVENT"]}}</button></a></div>
        <div class="page-content">
            {{ events | json_encode() }}
        </div>
    </div>

{% endblock %}        
